.qrContainer{
  height: 60px;
    width: 60px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.qrContainer a {
  width: 50px;
  height: 50px;
}

#fileInput{
  display: none;
}